.window-sidebar{
  float: right;
  padding: 0 16px 8px 8px;
  width: 168px;
  overflow: hidden;
  z-index: 10;

  .window-module{
    clear: both;
    margin-bottom: 24px;
    position: relative;

    h3{
      margin-top: 0;
      color: #5e6c84;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: .04em;
      text-transform: uppercase;
      line-height: 20px;
      margin-bottom: -4px;
    }

    .u-clearfix{
      .remove-sidebar{
        background-color: #EB5A46;
        color: #fff!important;
      }
      a:visited{
        color: #172b4d;
      }
      .icon-sm{
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        width: 20px;
        margin: 0 6px 0 -6px;
      }
    }
  }
}